.Nav {
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0%;
  z-index: 999;
  box-shadow: 0 1px 4px rgba(107, 119, 131, 0.15);
}

#navbar {
  transition: all 0.7s ease-in-out;
}

.NavbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.NavLogo {
  color: black;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.NavLogo:hover {
  color: #0467fb;
  transition: all 0.5s ease-out;
}

.Buttonnav {
  border-radius: 4px;
  background-color: #101522;
  white-space: nowrap !important;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  outline: none !important;
  border: none !important;
  text-decoration: none;

  cursor: pointer;
}

a {
  text-decoration: none;
}

.Buttonnav:hover {
  transition: all 0.3s ease-out;
  background: #0467fb;
}

.NavIcon {
  margin-right: 0.5rem;
}

.MobileIcon {
  display: none;
}

.NavMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.NavItem {
  height: 80px;
  border-bottom: 4px solid transparent;
}

.NavItem :hover {
  border-bottom: 4px solid #4b59f7;
  transition: all 0.1s ease;
}

.NavLinks {
  color: black;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  height: 100%;
}

.NavBtnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  width: 100%;
  background-color: red;
  border: none;
  outline: none;
}

@media screen and (max-width: 960px) {
  .Buttonnav {
    width: 70%;
  }
  .MobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .NavMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    /* left: ${({ click }) => (click ? 0 : '-100%')}; */
    opacity: 1;
    transition: all 0.5s ease;
    background: #101522;
  }

  .NavItem {
    width: 100%;
  }

  .NavLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .NavLinks :hover {
    color: #4b59f7;
    transition: all 0.3s ease;
  }

  .NavItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}

@media screen and (max-width: 991px) {
  .NavbarContainer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
