.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
  overflow-x: hidden;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: 0.6rem;
}
.home__title-color {
  color: var(--first-color);
}
.home__social {
  display: flex;
  flex-direction: row;
}

.home__social a {
  margin-right: 2rem;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover {
  color: var(--first-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

.Landing-grid {
  margin-top: 4rem;
  max-width: 450px;
  margin-left: 1rem;
  margin-right: auto;
}
.img-round {
  border-radius: 30px;
  margin-bottom: 40px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/

.about {
  /* background-color: black; */
  text-align: center !important;
  /* font-size: 1.25rem; */
  color: black;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__text {
  margin-left: 2rem;
  margin-right: 2rem;
  /* width: 90%; */
  /* margin-left: 10rem; */
}

.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

@media screen and (max-width: 700px) {
  .home {
    height: 70vh;
    row-gap: 1rem;
    /* background-color: red; */
  }

  .home__social {
    transform: translate(31%, 50%);
  }
  .home__img {
    position: unset;
    transform: translate(5%, 15%);
    width: 90%;
  }
  .Landing-grid {
    margin-top: 4rem;
    width: 90%;
    max-width: 95%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 700px) and (max-device-width: 1000px) {
  .home__title {
    font-size: 1.2rem;
  }
  .home__img {
    right: 3%;
    bottom: 10%;
    width: 300px;
  }
}

@media screen and (min-width: 960px) {
  .Landing-grid {
    max-width: 1024px;
    display: grid;
    margin-top: 0rem;
    grid-template-columns: 0fr 1fr;
    grid-column-gap: 1rem;
    width: calc(100% - 2rem);
    margin-left: 3rem;
    margin-right: var(--mb-2);
  }

  .button {
    margin-bottom: 2rem;
  }

  .home {
    height: 100vh;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 480px;
    bottom: 20%;
  }
}

@media screen and (min-width: 1120px) {
  .about__text {
    margin-left: 8rem;
    margin-right: 8rem;
    /* width: 90%; */
    /* margin-left: 10rem; */
  }
  .Landing-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1rem;
    width: calc(100% - 2rem);
    margin-top: 0rem;
    margin-left: 3rem;
    margin-right: auto;
  }
  .home__img {
    right: 3%;
  }
}
